.gorrorojo1{
    width: 230px;
    height: 60px;
    background-color: rgb(235, 45, 45);
    float: none;
    margin-left: 560px;               
      margin-top: 10px;  
}

.gorrorojo2{
    width: 420px;
    height: 60px;
    background-color: rgb(235, 45, 45);
    float: none;
    margin-left: 500px;               
      margin-top: 0px; 
}
.pelo1{
     width: 150px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: left;
    margin-left: 500px;               
      margin-top: 0px;
}
.cara1{
     width: 100px;
    height: 60px;
    background-color: rgb(226, 190, 128);
    float: left;
      margin-top: 0px;
}
.ojo1{
     width: 50px;
    height: 60px;
    background-color: rgb(18, 18, 18);
    float: left;
      margin-top: 0px;
}
.cara2{
     width: 50px;
    height: 60px;
    background-color: rgb(226, 190, 128);
    float: left;
      margin-top: 0px;
}
.cafe1{
    width: 50px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: left;
    margin-left: 450px;   
    margin-top: 0px;     
}
.cafe1pi{
    width: 50px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: left;
    margin-top: 0px;     
}

.cafe4pi{
    width: 200px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: left;
    margin-top: 0px;     
}

.crema1{
    width: 50px;
    height: 60px;
    background-color: rgb(226, 190, 128); 
    float: left;
    margin-top: 0px;     
}
.crema3{
    width: 150px;
    height: 60px;
    background-color: rgb(226, 190, 128); 
    float: left;
    margin-top: 0px;     
}

.crema2{
    width: 100px;
    height: 60px;
    background-color: rgb(226, 190, 128); 
    float: left;
    margin-top: 0px;     
}


.crema6{
    width: 300px;
    height: 60px;
    background-color: rgb(226, 190, 128); 
    float: left;
    margin-left: 550px;     
}

.rojo2ini{
    width: 100px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-left: 500px;     
}

.rojo3ini{
    width: 100px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-left: 450px;     
}

.azul3ini{
    width: 150px;
    height: 60px;
    background-color: rgb(6, 45, 242);
    float: left;
    margin-left: 500px;     
}

.azul3medio{
    width: 150px;
    height: 60px;
    background-color: rgb(6, 45, 242);
    float: left;
    margin-left: 100px;     
}


.azul1{
    width: 50px;
    height: 60px;
    background-color: rgb(6, 45, 242); 
    float: left;
    margin-top: 0px;   
}

.azul4{
    width: 200px;
    height: 60px;
    background-color: rgb(6, 45, 242); 
    float: left;
    margin-top: 0px;   
}

.azul3{
    width: 150px;
    height: 60px;
    background-color: rgb(6, 45, 242); 
    float: left;
    margin-top: 0px;   
} 

.rojo3{
    width: 150px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-top: 0px;     
}

.rojo2{
    width: 100px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-top: 0px;     
}

.rojo4ini{
    width: 200px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-left: 400px;     
}

.crema2ini{
    width: 100px;
    height: 60px;
    background-color: rgb(226, 190, 128);
    float: left;
    margin-left: 400px;     
}

.crema3ini{
    width: 150px;
    height: 60px;
    background-color: rgb(226, 190, 128);
    float: left;
    margin-left: 400px;     
}
.rojo3ini{
    width: 150px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-left: 450px;     
}
.rojo4{
    width: 200px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-top: 0px;     
}

.rojo1{
    width: 50px;
    height: 60px;
    background-color: rgb(242, 38, 6); 
    float: left;
    margin-top: 0px;     
}

.amarillo1{
    width: 50px;
    height: 60px;
    background-color: rgb(221, 240, 79); 
    float: left;
    margin-top: 0px;     
}


.piederechoarriba{
    width: 120px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: left;               
      margin-left: 480px;          
      margin-top: 0px;   
}

.pieizquierdoarriba{
    width: 120px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: right;                
      margin-right: 540px;         
      margin-top: 0px;   
}

.piederecho{
    width: 200px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: left;               
      margin-left: 400px;          
      margin-top: 0px;   
}

.pieizquierdo{
    width: 200px;
    height: 60px;
    background-color: rgb(88, 58, 5);
    float: right;                
      margin-right: 460px;         
      margin-top: 0px;   
}

.clear {
  clear: both;
}